<footer class="bg-primary mt-auto mb-0">
    <div class="container py-4">
        <div class="row">
            <a class="px-2 mx-2" href="https://www.linkedin.com/in/patryk-kurzeja-design" target="_about"><i class="fab fa-linkedin"></i></a>
            <a class="px-2 mx-2" href="https://github.com/patraspan" target="_about"><i class="fab fa-github"></i></a>
            <a class="px-2 mx-2" href="https://web.facebook.com/patryk.kurzeja.8" target="_about"><i class="fab fa-instagram"></i></a>
            <a class="px-2 mx-2" href="https://www.instagram.com/patrykkurzeja/" target="_about"><i class="fab fa-facebook"></i></a>
        </div>
    </div>

</footer>


    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>

</html>