<% include partials/header %>

<h1>Landing Pahge</h1>

<p>"this will be a landing page soon"</p>

<p> Welcome to yelp campground</p>
<a href="/campgrounds"> View All Campgrouds</a>

<%include partials/footer %>
