<% include ../partials/header %>

    <div class="container">
        <h1 class="text-center mb-4">Add new comment to <%= campground.name %> </h1>
        <div>
            <form class="ml-auto mr-auto" style="width: 50%" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <div class="form-group floating-label-form-group controls">
                    <label>Author</label>
                    <input type="text" name="comment[author]" class="form-control" placeholder="Author"  required data-validation-required-message="Please enter Camp title.">
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Comment</label>
                        <textarea cols="30" rows="5" class="form-control" placeholder="Comment" name="comment[text]" required
                            data-validation-required-message="Please enter a content."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">SUBMIT</button>
                    </div>
                </div>
                <a href="/campgrounds" class="btn btn-outline-secondary"> GO BACK</a>
            </form>
        </div>
    </div>

    <% include ../partials/footer %>