<% include ./partials/header %>

<div class="container login-page">
<div class="align">
<div class="row">
<form class="mx-auto card card-body mt-4 col-sm-6" action="/login" method="POST">
  <fieldset>
    <legend class="display-4 text-center mb-4">Log in</legend>
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">Username</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="username" placeholder="Username" autofocus>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="password">Password</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
    </div>
</div>
<div class="text-center">
  <button type="submit" class="btn btn-lg btn-primary mt-3">Log me in</button>
  <p class="small text-right mt-4">Don't have an account?
    <a href="/register">Sign Up!</a>
  </p>
</div>
</fieldset>
</form>
</div>
</div>
  

<% include ./partials/footer %>