
.main {
  min-height: 100vh;
}
#delete-form {
  display: inline !important; 
}

footer {
  z-index: 3;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 3.5rem;
  /* background: #2C3E50; */
}
footer .row {
  line-height: 3.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
footer .row a {
  font-size: 2rem;
}
/* EDIT CAMPGROUND */
.nowrap {
  overflow: hidden;
}


/* Google Maps */
#map {
  height: 400px;
  width: 100%;
}

.custom-file-input ~ .custom-file-label::after {
  content: "Button Text";
}

.custom-file-control.selected:lang(en)::after {
  content: "" !important;
}
textarea {
  white-space: nowrap;
}
/* COMMENT SECTION */
#commentSection .row .editButtons {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in 200ms;
}
#commentSection .row:hover .editButtons {
  opacity: 1;
  visibility: visible;
}
/* PROFILE PAGE */

#profilePage img{
  display: block;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  margin: 0 auto;
}
#personalInfo .form-group input {
  padding: 0;
  font-style: italic;
  font-weight: 700;
}
